<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>じゃんけん</title>
  <link rel="stylesheet" href="src/assets/base.css">
  <link rel="stylesheet" href="src/assets/main.css">
</head>

<body>
  <div class="content" id="app" v-cloak>
    <h1>{{startMessage}}</h1>
    <div class="cpu-hand">
      <img :src="currentCPUImage" :alt="cpuHand">
    </div>
    <div class="hand-buttons">
      <button @click="playJanken('rock')" :disabled="isFinish">
        <img src="src/assets/img/rock.png" alt="グー" class="user-handImg">
        <p class="">グー</p>
      </button>
      <button @click="playJanken('scissors')" :disabled="isFinish">
        <img src="src/assets/img/scissors.png" alt="チョキ" class="user-handImg">
        <p>チョキ</p>
      </button>
      <button @click="playJanken('paper')" :disabled="isFinish">
        <img src="src/assets/img/paper.png" alt="パー" class="user-handImg">
        <p>パー</p>
      </button>
    </div>
    <div class="result" v-if="result">{{result}}</div>
    <button class="rematch-button" v-if="isFinish" @click="rematch">もう一回！</button>
    <div class="score">勝：{{ winCount }}　負：{{ loseCount }}</div>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
  <script src="src/main.js"></script>
</body>

</html>