[v-cloak] {
  display: none;
}

body {
  background-color: #fdfdfd;
  padding: 0 20px;
}

#app {
  text-align: center;
}

.content {
  padding-top: 50px;
}

.cpu-hand img {
  width: 150px;
  height: 150px;
}

.user-handImg {
  width: 50px;
  height: 50px;
}

.hand-buttons button {
  width: 150px;
  height: 150px;
  margin: 20px;
  padding: 20px 20px;
  background-color: #fff;
  border: solid 3px #000;
  border-radius: 50%;
}

.hand-buttons button:hover {
  background-color: #cacfd2;
}

.hand-buttons button:active {
  background-color: #cacfd2;
}

.result {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.rematch-button {
  width: 200px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid 3px #000;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.rematch-button:hover {
  background-color: #cacfd2;
}

@media (max-width: 768px) {
  .content {
    padding-top: 20px;
  }

  .cpu-hand img {
    width: 100px;
    height: 100px;
  }

  .user-handImg {
    width: 30px;
    height: 30px;
  }

  .hand-buttons button {
    width: 100px;
    height: 100px;
    margin: 15px;
  }

  .rematch-button {
    width: 100%;
    padding: 5px 20px;
    border-radius: 30px;
  }
}